*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}
.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;

}
.content-center .text-center{
    text-align: center;
}
.content-center img{
    width: 70%;
}
.content-center form{
    margin: 20px;
}
.content-center input,
.content-center button{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}
.content-center input{
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}
.content-center input:focus{
    border-bottom-color: #547580;
}
.content-center button{
    background-color: #547580;
    color: #fff;
}
.content-center button:hover{
    background-color: #3B97D3;
    cursor: pointer;
}
.content-center button:active{
    background-color: #52BC52;
    cursor: pointer;
}
header a{
    color: #547580;
    text-decoration: none;
}
header a:visited{
    color: black;
    text-decoration: none;
}
header a:hover{
    text-decoration: overline;
}
header a:focus{
    color: #52BC52;
}
header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}
footer {
    font-size: .8em;
    text-align: center;
}
.content-tabuada{
    width: 100%;
    text-align: center;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
}
.content-tabuada table{
    width: 100%;
    border-collapse: collapse;
}
.content-tabuada td{
    padding: .75rem;
    border-top: 1px solid #DEE2E6;
}
.content-tabuada tbody tr:nth-child(odd){
    background-color: rgba(0, 0, 0, .05);
}
.content-tabuada tbody tr:hover{
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
}
#valorA{
    width: 100%;
    padding: 10px;
}
.todo{
    list-style: none;
    padding: 0;
}
.todo li{
    padding: 10px;
    border-bottom: #CCC 1px solid;
}
.todo li input{
    width: initial;
    margin-right: 10px;
}
.todo li.complete{
    text-decoration: line-through;
    color: #999;
    cursor: not-allowed;
}
.todo button{
    width: initial;
    color: #FFF;
    background-color: red;
    float: right;
}
#new-task{
    width: 100%;
    padding: 10px;
}